name: Tag Open Graph Data Science (GDS)

on:
  push:
    branches:
      - main
    # Only run when this file changes. 
    # In most cases this is the case when "gds-version" is updated by renovate.
    # An existing git tag won't be overwritten. In that case no release will be triggered.
    paths:
      - ".github/workflows/tag-opengds.yml"

jobs:
  create-tag:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - gds-version: 2.24.0
            gds-ref: 71.68.83-v44-310b5f1b7f # Remove before 2.25.0 release
    env: 
      CI_COMMIT_AUTHOR: ${{ github.event.repository.name }} git tag bot
    steps:
      - name: Checkout git repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
      
      - name: Assemble tag name with "v" + gds-version (gds-ref empty)
        if: matrix.gds-ref == ''
        run: echo "TAG_NAME=v${{ matrix.gds-version }}" >> $GITHUB_ENV
      - name: Assemble tag name with "v" + gds-version + "-" + gds-ref
        if: matrix.gds-ref != ''
        run: echo "TAG_NAME=v${{ matrix.gds-version }}-${{ matrix.gds-ref }}" >> $GITHUB_ENV

      - name: Create git tag ${{ env.TAG_NAME }}
        run: |
          git config --global user.name '${{ env.CI_COMMIT_AUTHOR }}'
          git config --global user.email '7671054+JohT@users.noreply.github.com'
          if git tag -a ${{ env.TAG_NAME }} -m "Release open graph data science plugin ${{ env.TAG_NAME }} package for Neo4j"; then
            echo "Push created tag ${{ env.TAG_NAME }} to trigger release"
            git push origin ${{ env.TAG_NAME }}
          else
            echo "Ignore already existing tag ${{ env.TAG_NAME }}"
          fi
